<div class="row">
    <div class="col-6">
        <div class="listing">
            <span>Nom utilisateur :</span><span> {{ keyPass.username }}</span>
        </div>
        <div class="listing">
            <span>Mot de passe :</span><span> {{ keyPass.password }}</span>
        </div>
        <div class="listing">
            <span>Site :</span><span> {{ keyPass.url }}</span>
        </div>
        <div class="listing">
            <span>Statut :</span>
            {% if keyPass.isPrivate > 0 %}
                <span>Privé </span>
            {% else %}
                <span>Public </span>
            {% endif %}
        </div>


    </div>
    <div class="col-6">
        <div class="listing">
            <span>Partagé avec :</span>
            <span>
                {% if keyPass.sharedWith|length > 0 %}
                    {% for backUser in keyPass.sharedWith %}
                        {{ backUser.firstName }}&nbsp;{{ backUser.lastName }}
                    {% endfor %}
                {% endif %}
            </span>

        </div>
    </div>
    <div class="col-12">
        <div class="listing">
            <span>Description: </span>
            {% if keyPass.description == null %}
                <span><em>Aucune description</em></span>
            {% else  %}
                <span>{{ keyPass.description|raw }}</span>
            {% endif %}
        </div>
    </div>
</div>