{% extends '_include/Back/_layout.html.twig' %}

{% block title %} Modification Mot de Passe {% endblock %}

{% block page_title %}<h3 class="header_title no_mb">Edition de Mot de passe</h3>{% endblock %}

{% block content %}

{{ form_start(formEditKeyPass, {'attr':{'id': 'formEditKeyPass', 'action': url('back_edit_keyPass', {'id':keyPass.id})}}) }}
<div class="row">
    <div class="col-6">{{ form_row(formEditKeyPass.username) }}</div>
    <div class="col-6">{{ form_row(formEditKeyPass.password) }}</div>
    <div class="col-12">{{ form_row(formEditKeyPass.url) }}</div>
    <div class="col-12">{{ form_row(formEditKeyPass.isPrivate) }}</div>
    <div class="col-12">{{ form_row(formEditKeyPass.description) }}</div>
    <div class="col-8">
        <h5 style="display: inline-block">{{ form_label(formEditKeyPass.shared_with) }}</h5>
        <button type="button" class="btn_save add-another-collection-widget border_radius" id="add_shared_user" data-list-selector="#shared_users_fields_list">
            <i class="fa fa-plus no_margin"></i>
        </button>
        <ul id="shared_users_fields_list"
            data-prototype="{{form_widget(formEditKeyPass.shared_with.vars.prototype)|e }}"
            data-widget-tags="{{ "<li class='list_share_users'></li>"|e }}"
            data-counter="{{ formEditKeyPass.shared_with|length}}">
            {% for shared_user in formEditKeyPass.shared_with %}
                <li class="list_share_users">
                    {{ form_widget(shared_user) }}
                    <button type="button"
                            class="btn btn-sm btn-danger btn_delete_share "
                            data-counter="{{ shared_user.vars.name }}">
                        <i class="fa fa-trash-o"></i></button>
                </li>
               {#{{ dump (shared_user)}}#}
            {% endfor %}
        </ul>

        <div style="display: none">{{ form_rest(formEditKeyPass) }}</div>

    </div>

    <div class="col-12">
        <button type="button" class="btn_save float-right" id="btnSubmitFormEditKeyPass" disabled="disabled"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
    </div>
</div>


{{ form_end(formEditKeyPass) }}
{% endblock %}

{% block javascripts %}
<script>
    // add-collection-widget.js
    let ready = $(document).ready(function () {

        $('.add-another-collection-widget').click(function () {

            let list = $($(this).attr('data-list-selector'));

            // Try to find the counter of the list or use the length of the list
            let counter = list.data('counter') || list.children().length;

            let btn_delete = '<button type="button" id="delete_shared_with_' + counter + '" class="btn btn-sm btn-danger btn_delete_share" data-counter="' + counter + '" style="display: inline-block"><i class="fa fa-trash-o"></i></button>'

            // grab the prototype template
            let newWidget = list.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, counter);
            // Increase the counter

            // And store it, the length cannot be used if deleting widgets is allowed

            let new_btn_delete = "#delete_shared_with_"+counter;
            counter++;
            list.data('counter', counter);
            // create a new list element and add it to the list

            let newElem = $(list.attr('data-widget-tags')).html(newWidget);
            newElem.appendTo(list);
            $(newElem).append(btn_delete);

            $(new_btn_delete).click(function(){
               $(this).parent().remove();
            });
        });

        $('.btn_delete_share').click(function(){
            $(this).parent().remove();
        });

        $("#btnSubmitFormEditKeyPass").click(function(){
            $(this).html(btn_spin);
            $('#formEditKeyPass').submit();
        });

        $("#edit_key_pass_password").focusout(function(){
            validFields($(this));
            handleSubmitButton($(this), $("#edit_key_pass_username"));
        })

        $("#edit_key_pass_username").focusout(function(){
            handleSubmitButton($(this), $("#edit_key_pass_password"));
        })

        function validFields($field){
            if($field.val().length <5 || $field.val().length>25){
                $field.addClass('is-invalid')
                $field.removeClass('is-valid')
            }else{
                $field.addClass('is-valid')
                $field.removeClass('is-invalid')
            }
        }

        function handleSubmitButton($name, $pass){
            if ($name.hasClass('is-valid') && $pass.hasClass('is-valid')) {

                return $("#btnSubmitFormEditKeyPass").removeAttr("disabled","disabled");
            }else{
                return $("#btnSubmitFormEditKeyPass").attr("disabled","disabled");
            }
        }
    });
</script>
{% endblock %}