{% extends '_include/Back/_layout.html.twig' %}

{% block title %}Mot de passe {% endblock %}

{% block page_title %}
    <h3 class="header_title no_mb">Liste des mots de passes</h3>
    <div class="header_btn_container">
        <button id="btnOpenModalAddKeyPass" class="btn_add" data-toggle="modal" data-target="#modalAddKeyPass"><i class="fa fa-plus"></i>&nbsp;Ajouter</button>
    </div>
{% endblock %}

{% block content %}


<table id="keypass_list" class="display" style="width:100%">
    <thead>
    <tr>
        <th>Id</th>
        <th>URL</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        {% for keypass in keyPasses %}
            <tr data-kpid="{{ keypass.id }}">
                <td>{{ keypass.id }}</td>
                <td>{{ keypass.url }}</td>
                <td>
                    <a href="{{ url('back_edit_keyPass',{'id':keypass.id})}}" class="btn btn_edit btn-sm"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn_save btn-round btnDisplayKeyPass"><i class="fa fa-eye"></i></button>
                    <button type="button" class="btn btn-danger btn-sm btnDeleteKeyPass"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{#    Modal Add Key Pass #}
    <div class="modal fade" id="modalAddKeyPass">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter un mot de passe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(formAddKeyPass, {'attr':{'id': 'formAddKeyPass'}}) }}
                    <div class="row">
                        <div class="col-6">{{ form_row(formAddKeyPass.username) }}</div>
                        <div class="col-6">{{ form_row(formAddKeyPass.password) }}</div>
                        <div class="col-12">{{ form_row(formAddKeyPass.url) }}</div>
                        <div class="col-12">{{ form_row(formAddKeyPass.isPrivate) }}</div>
                        <div class="col-12"> {{ form_row(formAddKeyPass.description) }} </div>
                    </div>
                    {{ form_end(formAddKeyPass) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn_add" disabled="disabled" id="btnSubmitFormAddKeyPass">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>


{#    Modal Show Key Pass#}
   <div class="modal fade" id="modalDisplayKeyPass">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mots de passe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalDisplayKeyPass_body">

                </div>
            </div>
        </div>
    </div>

{#    Modal Delete Keypass#}
    <div class="modal fade" id="modalDeleteKeyPass">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Suppression du mot de passe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalDisplayKeyPass_body">
                        <span>Êtes-vous sûr de vouloir supprimer ce mot de passe?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger btn-sm" id="btnSubmitFormDeleteKeyPass">
                        <i class="fa fa-trash-o">
                        </i>
                         Confirmer
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let ready = $(document).ready(function (){
            let current_tr = "";
            let current_id = "";
            let compt_valid_field=0;
            $('#keypass_list').DataTable({
                language: obj_dt_translation.fr_FR
            });

            $('#btnSubmitFormAddKeyPass').click(function (){
                $('#formAddKeyPass').submit();
            });

            $('.btnDisplayKeyPass').click(function (){
                current_tr = $(this).closest('tr');
                current_id = $(current_tr).data('kpid');
                let view_keyPass_url = "{{ url('back_display_keyPass', {'id':'__00__'}) }}";
                view_keyPass_url = view_keyPass_url.replace('__00__', current_id);
                $.ajax({
                    method: 'GET',
                    url: view_keyPass_url,
                    success: function (html){
                        $('#modalDisplayKeyPass_body').html(html);
                        $('#modalDisplayKeyPass').modal('show');
                    }
                });
            });

            $('.btnEditKeyPass').click(function(){
                current_tr = $(this).closest('tr');
                current_id = $(current_tr).data('kpid');
                let edit_keyPass_url = "{{ url('back_edit_keyPass', {'id':'__00__'}) }}";
                edit_keyPass_url = edit_keyPass_url.replace('__00__', current_id);
                $.ajax({
                    method: 'GET',
                    url: edit_keyPass_url
                });
            });

            $('#btnSubmitFormEditKeyPass').click(function (){
                $('#formEditKeyPass').submit();
            });

            $('.btnDeleteKeyPass').click(function (){
                current_tr = $(this).closest('tr');
                current_id = $(current_tr).data('kpid');
                let delete_keyPass_url = "{{ url('back_keypass_toggle', {'id':'__00__'}) }}";
                delete_keyPass_url = delete_keyPass_url.replace('__00__', current_id);
                $('#modalDeleteKeyPass').modal('show');
                $('#btnSubmitFormDeleteKeyPass').click(function (){
                    window.location=delete_keyPass_url;
                });
            });

            $("#add_key_pass_password").focusout(function(){
              validFields($(this));
              handleSubmitButton($(this), $("#add_key_pass_username"));
            })

            $("#add_key_pass_username").focusout(function(){
                handleSubmitButton($(this), $("#add_key_pass_password"))
            })

            function validFields($field){
                if($field.val().length <5 || $field.val().length>25){
                    $field.addClass('is-invalid')
                    $field.removeClass('is-valid')
                }else{
                    $field.addClass('is-valid')
                    $field.removeClass('is-invalid')
                }
            }

            function handleSubmitButton($name, $pass){
                if ($name.hasClass('is-valid') && $pass.hasClass('is-valid')) {

                    return $("#btnSubmitFormAddKeyPass").removeAttr("disabled","disabled");
                }else{
                    return $("#btnSubmitFormAddKeyPass").attr("disabled","disabled");
                }
            }
        });
    </script>
{% endblock %}